html{
  scroll-behavior: smooth; /* Para que el scroll sea suave */
}

/* Enlaces de la documentación de CSS:
  - https://es.wikipedia.org/wiki/Hoja_de...

  - https://www.w3.org/html/logo/

  - https://www.w3.org/standards/webdesig...

  - https://www.w3.org/TR/css-2020/

  - https://developer.mozilla.org/es/docs...

🔵 CSS Reference - https://cssreference.io/

🔵 Can I Use - https://caniuse.com/

🔵 Code Guide - https://codeguide.co/

🔵 Pseudoclases - https://developer.mozilla.org/es/docs...

🔵 Pseudoelementos - https://developer.mozilla.org/es/docs...

🔵 Propiedades hederables - https://web.dev/learn/css/inheritance...

🔵 Reset CSS - https://meyerweb.com/eric/tools/css/r...

🔵 Normalize CSS - https://necolas.github.io/normalize.css/

🔵 Autoprefixer CSS - https://autoprefixer.github.io/

🔵 Modelo de Caja - https://developer.mozilla.org/es/docs...

🔵 Tamaño de Caja Paul Irish - https://www.paulirish.com/2012/box-si...

🔵 960 Grid System - https://960.gs/ */


/* Una regla css consta de dos partes
-El selector: elemento html al que aplicamos el estilo (etiquetas, atributos, identidades, etc)
-El bloque de declaración: conjunto de propiedades y valores que definen el estilo. Se encierra entre llaves.
Ejemplo:
h1 {color: red; font-size: 12px;} */

h1{
  color: orangered;
  background-color: skyblue;
}
h2{
  text-transform: uppercase;
}
h3{
  color: blue;
  
}
img{
  width: 150px;
  height: 150px;
  display: block;
  margin-bottom: 5px;
}
.enfatizado{
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
/* Selectores basicos
-Elemento: h1, p, div, span, etc
-Clase: .nombreClase
-Id: #nombreId */

.red-text{
  color: red;
}

/* SELECTORES AVANZADOS */

/*Hijos directos: .padre>hijo */
.hijosDirectos>li{
  background-color: red;
}
/*Hijos indirectos: .padre hijo */
.hijosDescendientes b{
  color: blue;
}
/*Hermanos general: .hermano1~hermano2 */
.hermanos-general~li{
  color: green;
}
/*Hermanos inmediatos: .hermano1+hermano2 */	
.hermanos-inmediatos+li{
  color: orange;
}
/*Atributos: [atributo] */
/* Todos los que tengan el atributo href */
.selectores-atributos a[href]{
  color: red;
}
/* Todos los que tengan el atributo target="_blank" */
.selectores-atributos a[target="_blank"]{
  color: orange;
}
/* El comodin del asterisco (*) selecciona los que contengan la palabra que sigue */
.selectores-atributos a[href*="google"]{
  color: green;
}
/* El comodin del (^)  selecciona los que empiecen por la palabra que sigue */
.selectores-atributos a[href^="http:"]{
  text-decoration: none;
}

/*El comodin del ($) selecciona los que terminen por la palabra que sigue */
.selectores-atributos a[href$=".es"]{
  background-color: blueviolet;
}
/*El comodin ~ selecciona los que contengan la palabra que sigue en cualquier parte del atributo en una cadena con espacios en blanco */
.selectores-atributos a[class~="menu"]{
  color: aquamarine;
}

/* El comodin | selecciona los que empiecen por la palabra que sigue seguida de un guión (-) */
.selectores-atributos a[class|="menu"]{
  font-size: xx-small;
}

/*Selector universal: * */
.selector-universal *{
  font-size: 20px;
}

/* PSEUDOCLASES */
/* :link, :visited, :hover, :active, :focus, :target, :lang, :enabled, :disabled, :checked, :indeterminate, :root, :nth-child(), :nth-last-child(), :nth-of-type(), :nth-last-of-type(), :first-child, :last-child, :first-of-type, :last-of-type, :only-child, :only-of-type, :empty, :not() */


.form-pseudoclases *:required{
  border-color: violet;
}
.form-pseudoclases *:invalid{
  border: 1px solid red;
}
.form-pseudoclases *:valid{
  border-color: green;
}
.form-pseudoclases *:optional{
  border-color: blue;
}

.form-pseudoclases *:focus{
  border-color: orange;
} 

.form-pseudoclases *:disabled{
  border-color: pink;
}